body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    background-color: #5A5547;
    color:#ffffff
}
.section h2{
    color:#A3C1EA;
}
.line{
    width:100%;
    height:1px;
    background-color: #ffffff;
}